*{
margin: 0;
padding: 0;
}
html,body{
width: 100%;
height: 100%;
}
.box{
    height: 100px;
    width: 100px;
    text-align: center;
    border: black solid;
    margin: 10px;
    background-color: plum;
}
p{
    color: red;
}